body, html{
    height: 100%;
    width: 100%;
}
.navbar{
    background-color: aquamarine!important;
    margin: 5 0 5 0;
}
.container{
    margin-left: 50px;
}
.navbar .navbar-brand{
    margin-left: 50px;
    color : rgb(82, 16, 236);
    font-weight: bolder;
    font-size: 25px;
}
.navbar-nav{
    color: rgb(82, 21, 226);
    font-weight: bold;
    font-size: 25px;
}

h1{
    font-size: larger;
    margin: 20px 0 20px 0;
}
img{    
    height: auto;
    width: 100%;
    object-fit: cover;
}
table{
    height: auto;
    width: 80%;
    margin: 20px;
}
#envTable th{
    border-bottom: 2px solid black;
}
caption{
    caption-side: top;
    color: black;
    font-size: 14px;
    font-weight: bold;
}